<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1.导入spring的坐标spring-context，对应版本是5.2.10.RELEASE-->

    <!--2.配置bean-->
    <!--bean标签标示配置bean
    id属性标示给bean起名字
    class属性表示给bean定义类型-->
    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>  <!-- class="" 配的是实现类的路径 -->

    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl">  <!-- Dao 放到Service中，所以在Service中，配置 -->
        <!--7.配置server与dao的关系,及关系绑定-->
        <!--property标签表示配置当前bean的属性
        name属性表示配置哪一个具体的属性
        ref属性表示参照哪一个bean-->
        <property name="bookDao" ref="bookDao"/>  <!-- name="bookDao"来自（private BookDao bookDao ）中bookDao的作用是让Spring的IOC容器在获取到名称后，将首字母大写，前
面加set找对应的setBookDao()方法进行对象注入;ref="bookDao"中bookDao的作用是让Spring能在IOC容器中找到id为bookDao的Bean对象给
bookService进行注入
 -->
    </bean>

</beans>